.GameBoard {
	display: grid;
	grid-gap: 1em;
	height: 60vh;
	padding: 10em;
}

.top {
	background-color: #2B2B52;
	padding: 1em;
	font-size: 30px;
	border-radius: 12px;
	border: 4px solid black;
	color: white;
}

.bottom {
	background-color: #2B2B52;
	text-align: center;
	display: grid;
	justify-items: start;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 1em;
	padding: 1em;
	border-radius: 12px;
	border: 4px solid black;
	height: 600px;
}

button {
	width: 200px;
	background: #F5BCBA;
	transition-duration: 0.4s;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border-radius: 12px;
	border: 2px solid;
	font-weight: bold;
}
button:hover {
	box-shadow: 0 0 6px white;
}

.choices[value='false'][disabled] {
	opacity: 0.1;
}

.submit[disabled] {
	opacity: 0.0;
}

.newGame {
	margin: auto;
	width: 100px;
	height: 50px;
}

.center {
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
